body, html {
	overflow-x: hidden;
}
body {
font-family: 'Roboto', sans-serif;
margin:0;

}
 .header {
 	height: 150px;
 	/*max-height: 150px;
 	min-height: 150px;*/
 	background-color:#f5f5f5;
 	display:flex;
 	justify-content: space-around;
 	align-items: center;
 	border-top: 1px solid ;
 	border-bottom: 1px solid ;

 }
nav {
	/*margin-top:-78px;
	margin-left: 52%;*/
	 margin:0 auto;
	 width:100%;
}

.menu {
	padding :0;
	margin:0;
	max-height: 170px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none; 
}

.menu li a {
	display:inline-block;
	text-decoration: none;
	align-self:center;
}

a {
	text-decoration: none;
}

 .menubutton a {

 	font-size: 30px;
 	color:#000000;
 	text-align: center;
 	padding: 8px 26px;
 	font-weight: bold;
 }
 .icon {
 	display:none;
 	font-size: 30px;
 	color:#000000;
 	text-align: center;
 	padding: 8px 26px;
 	font-weight: bold;
 	
 }
 .menubutton a:hover {
 	border-bottom: 5px solid #d81111 ;
 	transition: .2s ease-in-out;
 }
  .icon:hover {
  	border-bottom: 5px solid #d81111 ;
 	transition: .2s ease-in-out;
  }

 /*.menubutton .icon {
 	display:none;
 }*/



 .logo {
 	/*display:flex;
 	justify-content: center;
 	align-items: center;
 	margin-top:18px;*/
 	margin-left: 5%;
 	max-width: 150px;
 	max-height: 150px;
 	/*min-width: 50px;
 	min-height: 50px;*/
 	padding:0 0 0 0;
 }


 .wrapper {
 	
 	min-height: 100%;
 	overflow: hidden;
 	flex-wrap: wrap;
 	display: flex;
 	flex-direction: column;
 	
 }

 .container {
 	width: 100%;
 	max-width: 1600px;
 	margin: 0px auto;
 }
 /*.content {
 	flex: 1 1 auto;
 }
 */
 .firstblock {
 	max-width: 100%;
 	/*max-width:1920px;
 	max-height:1080px;*/
 	color:white;
 	text-shadow: black 0 0 12px;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 	/*border-bottom: 1px solid ;*/
 	background-image: url("images/bluefrontstatic.jpg");
 	background-position: center;
  	background-size: auto auto;
  	background-attachment:local;
  	background-repeat: no-repeat;

}
 .firstblockcontent {
 	/*margin-left: 20px; 
 	max-width: 660px;
 	max-height: : 660px;*/ 
 }
 .firstheader {
 	font-size: 150px;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 }

 .colortextr {
 	color:#d81111;
 }
 

 .firstinfoblock {
 	width:100%;
 	/*max-height:1080px;*/
 	color:black;
 	margin:50px 0;

 }
 .firstengine {
 	width: 100%;
 	display:flex;
 	justify-content: space-around;
 }
 .secondengine {
 	width: 100%;
 	display:flex;
 	justify-content: space-around;
 }

 .secondblockcontent {
 	
 	max-width: 100%;
 	margin:0px 0px 0px 0px;
 	/*max-width:1920px;*/
 	height:100%;
 	/*max-height:1080px;*/
 	display: flex;
 	
 	padding: 0px 50px 50px 50px ;
 	
 }
 .secondheader {
 	font-size: 38px;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 }
 #firstengineparag {
 	text-align: justify;
 	max-width:450px;
	font-size: 16px;
	margin-right:10%;
	/*padding-right: 350px;*/
 }
#firstengineimage {
	align-self: center;
	max-height:350px ;
	max-width:450px ;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	
}
#secondengineimage {
	align-self: center;
	max-height:350px ;
	max-width:450px ;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
		
}
 #secondengineparag {
 	margin-left:10%;
 	/*padding-left:350px;*/
 	text-align: justify;
 	max-width: 450px;
	font-size: 16px

 }
 .thirdblock {
 	max-width: 100%;
 	margin:0px 0px 0px 0px;
 	/*max-width:1920px;*/
 	/*max-height:1080px;*/
 	/*position: static;
 	display: flex;*/
 	padding: 50px 50px ;
 	color:white;
 	text-shadow: black 0 0 12px;
 	font-size: 60px;
 	background-image: url("images/bluerearstatic.jpg");
 	background-position: center;
  	background-size: auto auto;
  	background-attachment:local;
  	background-repeat: no-repeat;
 }
 .model {
 	list-style-type: none;
 }
 .modelslist {
 	margin-left:150px;
 }
 .contact {
 	padding: 50px 0;
 }

 .contactblock {

 }

 .contactform {
 	width: 50%;
 	margin: 50px auto;
 	text-align: center;
 }

 .contactinput {
 	margin: auto;
 	box-sizing: border-box;
 	color: #000000;
 	font-weight: 300;
 	font-size:20px;
 	line-height: 22px;
 	background-color: #ffffff;
 	padding:13px;
 	width: 100%;
 	border:0px solid transparent;
 	border-bottom: 1px solid #000000;
 	
 }
 textarea {
 	width: 100%;
 	height: 150px;
 	resize: vertical;
 }

 .contactbutton {
 	width: 100%;
 	border: 1px solid rgba(0,0,0, 0);
 	cursor:pointer;
 	background-color: #000000;
 	color: white;
 	font-size: 18px;
 	padding-top: 22px;
 	padding-bottom:22px;
 	transition: all 0.3s;
 	margin-top: -4px;
 	font-weight: 300;
 	
 }

 .contactbutton:hover{
 	background-color: #ffffff;
 	color:#000000;
 	border: 1px solid #000;
 }

.ease {
	width: 0;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.contactparag {
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

 .footer {
 	max-height: 150px;
 	background-color:#f5f5f5;
 	font-size: 20px;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 	border-top: 1px solid ;
 	border-bottom: 1px solid ;
 }


 @media screen and (max-width:1600px) {
 	
 	.container {
 		max-width:1600px;
 	}
 		.header {
 			width:100%;

 		}
 	 nav {
 	 	/*display:none;*/
 	 }
 	
	img.logo {
 	margin-top:0px;
 	margin-left: 26px;
 	max-width: 150px;
 	max-height: 150px;
 	float:left;
 	}
 	.secondblockcontent {
 		margin:0px 0px 0px 0px;
 		padding:0px 50px 50px 50px;
 	}
 	.thirdblock {
 		margin:0px 0px 0px 0px;
 		padding:50px 50px;
 	}
 }

 @media screen and (max-width:1280px) {

 	.container {
 		max-width:1280px;
 	}
 		.header {
 			width:100%;

 		}
 	 nav {
 	 	/*display:none;*/
 	 }
 	 /*.icon {
 	 	display:inline-block;
 	 	float:right;
 	 	font-size:60px;

 	 }
 	 }*/
	img.logo {
 	margin-top:0px;
 	margin-left: 26px;
 	max-width: 150px;
 	max-height: 150px;
 	float:left;
 	}
 	.secondblockcontent {
 		margin:0px 0px 0px 0px;
 		padding:0px 50px 50px 50px;
 	}
 	.thirdblock {
 		margin:0px 0px 0px 0px;
 		padding:50px 50px;
 	}
 	.modelslist {
 	margin-left:0px;
 	}
 }

 @media screen and (max-width:992px) {

 	.menubutton a {
 		padding:8px 10px;
 		font-size: 24px;
 	}
 	.modelslist {
 	margin-left:0px;
 	}
 	li.model {
 		font-size: 26px;
 	}

 	.secondheader {
 		text-align:center;
 	}

 	#firstengineparag {
 		margin-right:20px;
 	}

 	#secondengineparag {
 		margin-left:20px;
 	}

#firstengineimage {
	
	width: 100%;
	height: 100%;
	max-height:350px ;
	max-width:350px ;

	
}
#secondengineimage {
	width: 100%;
	height: 100%;

	max-height:350px ;
	max-width:350px ;
 }


}

  @media screen and (max-width:680px) {
  		


  	div.firstinfoblock {
  		display:flex;
  		flex-direction: column;
  	}

  	.secondblockcontent {
 		margin:0px 0px 0px 0px;
 		padding:0px 10px 50px 10px;
 	}
  	.firstengine {
 	flex-direction: column;
 	justify-content: flex-start;
 }
 	.secondengine {
 	flex-direction: column;
 	justify-content: flex-start;
 }
 	#firstengineparag {
 	align-self:center;
 	width:100%;
	font-size: 14px;
	margin:20px 0px;
	/*padding-right: 350px;*/
 }
#firstengineimage {
	align-self: center;
	min-height:250px ;
	min-width:300px ;
	
	
}
#secondengineimage {
	align-self: center;
	min-height:250px ;
	min-width:300px ;
	
		
}
 #secondengineparag {
 	width:100%;
	font-size: 14px;
	margin:20px 0px;
	align-self:center;
 }

  	h1.firstheader {
  		font-size: 80px;
  	}
  	h2.secondheader {
  		font-size: 24px;
  		text-align: center;
  	}

  	.contactparag {
  		align-self:center;
  		text-align:center;
  	}

 	nav {
 		display:none;
 	}
 	.icon {
 		display:block;
 		font-size: 60px;
 	}
 	img.logo {
 		float:left;
 	}
 }
 
/*@media screen and (min-width: 1600px) {
 		.icon {
 			display:none;
 		}
 }

@media screen and (max-width: 1540px) {
	.icon {
		display: none;
	}
	img.logo {
 	margin-top:0px;
 	margin-left: 10%;
 	max-width: 150px;
 	max-height: 150px;
 	
 	}
}

@media screen and (max-width: 1280px) {
	nav {
 		display: none;
		width: 100%;
	}
	.icon {
		clear:both;
		display: block;
		font-size: 90px;
		margin-top: 0px;
		margin-right:5%;
	}

	.menu {
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		
	}
	

	img.logo {
 	margin-top:0px;
 	margin-left: 5%;
 	max-width: 150px;
 	max-height: 150px;
 	
 	}
 	 .container {
 	max-width: 1280px;
 	margin: 0px auto;
 	display: flex;

 }
 	 .header {
 	 width: 100%;
 	display:flex;
 	justify-content: space-between;
 	
 }
 }*/